table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
td{
    text-align: center;
    font-weight: bolder;
}
th{
    font-size: 20px;
    font-weight: bolder;
}
table{
    margin-left:20%;
    height: 400px;
    width: 800px;
}
body{
    background-color: palegoldenrod;
}
pre{
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    
}